# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
secrets/

# Local files
*.tfvars
!*.tfvars.example

# OS
.DS_Store
*.swp
*.swo
*~

Assignment-2-review-template-grading - Rubric.pdf
openssl-san.cnf